html
   head
        title Simple template
   body
        include ./header.pug
        if (user)
            h3 Hi, #{user.name}
        else 
            a(href=loginUrl) Sign up
        include ./footer.pug